import /init.userfastboot.rc
import /init.recovery.${ro.hardware}.rc

on early-init
    loglevel 7
    start ueventd

on init
    export PATH /sbin:/system/sbin:/system/bin:/system/xbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data

    symlink /system/etc /etc

    mkdir /tmp
    mount tmpfs tmpfs /tmp
    chmod 1777 /tmp

    # Erasing partitions can take a long time, don't whine about it
    write /proc/sys/kernel/hung_task_timeout_secs 0

on fs
    mount efivarfs none /sys/firmware/efi/efivars

on boot
    ifup lo
    hostname localhost
    domainname localdomain
    class_start default

service ueventd /sbin/ueventd
    critical

service userfastboot /sbin/userfastboot
    default
    oneshot

service console /system/bin/sh
    class core
    console
    disabled
    user shell
    group log

on property:ro.debuggable=1
    start console

service pstore-clean /system/bin/pstore-clean
    default
    oneshot

