import /init.userfastboot.rc
import /init.recovery.${ro.hardware}.rc
import /init.recovery.composite.rc

on early-init
    loglevel 7
    start ueventd

on init
    export PATH /sbin:/system/sbin:/system/bin:/system/xbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data

    symlink /system/etc /etc

    mkdir /tmp
    mount tmpfs tmpfs /tmp
    chmod 1777 /tmp

    # Erasing partitions can take a long time, don't whine about it
    write /proc/sys/kernel/hung_task_timeout_secs 0

    # USB Gadget initialization
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/iManufacturer Intel
    write /sys/class/android_usb/android0/iSerial </sys/devices/pci0000:00/0000:00:01.0/mmc_host/mmc0/mmc0:0001/cid
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 0829
    write /sys/class/android_usb/android0/enable 1

on fs
    mount efivarfs none /sys/firmware/efi/efivars

on boot
    ifup lo
    hostname localhost
    domainname localdomain
    class_start default

service ueventd /sbin/ueventd
    critical

service userfastboot /system/bin/userfastboot
    oneshot

service console /system/bin/sh
    class core
    console
    disabled
    user shell
    group log
    seclabel u:r:shell:s0

on property:ro.debuggable=1
    start console

